<nav
  class="w-12rem bg-blue-600 flex h-full flex-column justify-content-start align-items-center z-0"
>
  <a
    *ngFor="let menuItem of menuList"
    routerLink="{{ menuItem.routerLink }}"
    class="w-full text-center text-white no-underline cursor-pointer line-height-4 uppercase fadein hover:text-900 hover:bg-white"
  >
    <span
      class="flex align-items-center justify-content-center p-2 border-bottom-1"
      ><i class="{{ menuItem.icon }}"></i> {{ menuItem.title }}
    </span>
  </a>
</nav>
